<header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom align-items-center pe-4">
    <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none ps-4">
        <img src="/styles/media/animematch.png" alt="Blog-Easy Logo" width="100" height="100" class="bi me-2">
       <!-- <span class="fs-4">Blog-Easy</span>  -->
    </a>
    <ul class="nav nav-pills">
       <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
       
    </ul>
 </header>